.wrapper-footer{

	.header-footer{
		background-color: @gray-color6;
		padding-top: @padding-t1;
		padding-bottom: @padding-b1;

		ul>li{
			float: left;
		}
	}

	.body-servicios{
		background-color: @gray-color2;

		.collapse-servicios{
			padding-top: @padding-t2;
			padding-bottom: @padding-t2;
		}
	}
}