.tabs-gallery{

	#tabs{
		
		ul li:first-child{
			margin-left: 25%;
		}
	}

	#tabs-1{
		text-align: center;
			
			.cont-smartphones{

				.smartphone{
					display: inline-block;
					background-color: red;
				}
			}
		}

}


.wrapper-marcas{
	background-color: @gray-color3;
	margin-top: @margin-t2;
	margin-bottom: @margin-b4;
	padding-top: @padding-t2;
	padding-bottom: @padding-b2;

	.collapse-marcas{
		margin-top: @margin-t2;

		.logo-marca{
			display: inline-block;
			text-align: center;
		}

		.logo-marca:hover{
			background-color: @gray-color2;
		}
	}

	
}
